.notifications {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;
}

.notification {
  min-width: 300px;
  padding: 8px;
  margin: 10px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.7);
  font-size: 14px;
  color: #FFF;
  font-weight: 500;
  background: #f0e548;
  border-radius: 5px;
  transition: all 0.3s ease;
  z-index: 1000;
}

.success {
  background: #44d93d;
}

.error {
  background: #f04e48;
}

.warn {
  background: #f0e548;
}


