.button {
  height: 36px;
  border-radius: 18px;
  border: 1px solid #0abaf0;
  color: #0abaf0;
  background: #FFF;
  font-size: 16px;
  font-weight: bold;
  padding: 0px 15px;
  transition: all 0.3s ease;
  outline: none;
}

.button:hover {
  color: #FFF;
  background: #0abaf0;
}

.profile-edit {
  width: 800px;
  border: 1px solid #0abaf0;
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.5);
  margin-bottom: 40px;
}

.profile-edit-title {
  text-align: center;
}

.profile-edit-photo {
  padding: 15px;
}

.profile-edit-photo-div {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.profile-img {
  width: 400px;
  height: auto;
}

.form-div {
  display: flex;
  padding: 15px;
  place-content: center;
}

.form {
  width: 500px;
}

.input-space {
  margin: 30px 0px;
}

.text-area-height {
  height: auto;
}

#description {
  padding: 10px;
}

